<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg my-3">
      <h1 class="text-center">Criar conta ou Entrar</h1>
      <p class="text-center lead">Faça login ou crie sua conta abaixo</p>
      <hr>

      <%- include('includes/messages') %>

      <div class="row">
        <div class="col-lg ">
          <h4>Faça seu cadastro</h4>
          <form action="/login/register" method="post">
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
            <div class="form-group">
              <label for="email">Email</label>
              <input name="email" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Digite aqui seu e-mail...">
              <small id="emailHelp" class="form-text text-muted">Seu e-mail não será compartilhado com ninguém</small>
            </div>
            <div class="form-group">
              <label for="senha">Senha</label>
              <input name="senha" type="password" class="form-control" placeholder="Digite aqui sua senha...">
            </div>
            <button type="submit" class="btn btn-secondary">Cadastrar conta</button>
          </form>
        </div>


        <div class="col-lg">
          <h4>Faça login</h4>
          <form action="/login/login" method="post">
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
            <div class="form-group">
              <label for="email">Email</label>
              <input name="email" type="email" class="form-control" aria-describedby="emailHelpPassword" placeholder="Digite aqui seu e-mail...">
              <small id="emailHelpPassword" class="form-text text-muted">Seu e-mail não será compartilhado com ninguém</small>
            </div>
            <div class="form-group">
              <label for="senha">Senha</label>
              <input name="senha" type="password" class="form-control" placeholder="Digite aqui sua senha...">
            </div>
            <button type="submit" class="btn btn-secondary">Fazer login</button>
          </form>
        </div>
      </div>
      <hr>
    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>

